
<div class="container">
	<form class="w3-container" [formGroup]="loginForm" (ngSubmit)="login()">
		<mat-form-field class="field" appearance="fill">
			<mat-label>Username</mat-label>
			<input matInput type="text" formControlName="email">
		</mat-form-field>
		<br>
		<mat-form-field class="field" appearance="fill">
			<mat-label>Password</mat-label>
			<input matInput type="password" formControlName="password">
		</mat-form-field>
		<br>
		<button mat-button type="submit" [disabled]="!loginForm.valid">Submit</button>
		<div class="margin">
			<p>Credentials : admin:admin</p>
			<p>Credentials : user:user</p>
		</div>
	</form>
  </div>