
<div class="w3-container margin">

	<mat-form-field class="mt-2">
		<input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search">
	</mat-form-field>
		<div class="mat-elevation-z8">
			<mat-table [dataSource]="dataS">
		  
			  <ng-container matColumnDef="name" class="name">
				<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
			  </ng-container>
		  
			  <ng-container matColumnDef="description" class="description">
				<mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
			  </ng-container>

			  <ng-container matColumnDef="price" class="buttons">
				<mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.maxBid}} </mat-cell>
			  </ng-container>

			  <ng-container matColumnDef="details" class="buttons">
				<mat-header-cell *matHeaderCellDef>  </mat-header-cell>
				<mat-cell *matCellDef="let element; let j = index;">
					<button *ngIf="role=='ADMIN'" mat-button [routerLink]="['update', element.id]" >Update</button>
					<button *ngIf="role=='ADMIN'" mat-button (click)="deleteItem(element.id, j);">Delete</button>
					<button *ngIf="role=='USER'" mat-button [routerLink]="['bid', element.id]">Bid Now</button>
				</mat-cell>
			  </ng-container>

			  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

			</mat-table>

			<mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
		
		</div>

		<div *ngIf="role=='ADMIN'">
			<button class="fab" mat-fab routerLink="/add">+</button>
		</div>
</div>
