
<div class="flex-container" >
<div class="container" *ngIf="itemAddForm">
	<form class="w3-container" [formGroup]="itemAddForm" (ngSubmit)="register()">
		<mat-form-field hintLabel="Max 255 characters" class="field" appearance="fill">
			<mat-label>Name</mat-label>
			<input matInput #input type="text" formControlName="name">
			<mat-hint align=end>{{input.value?.length || 0}}/255</mat-hint>
		</mat-form-field>
		<br>
		<mat-form-field hintLabel="Max 255 characters"  class="field" appearance="fill">
			<mat-label>Description</mat-label>
			<input matInput #inputDesc formControlName="description">
			<mat-hint align=end>{{inputDesc.value?.length || 0}}/255</mat-hint>
		</mat-form-field>
		<br>
		<mat-form-field class="field" appearance="fill">
			<mat-label>Start</mat-label>
			<input matInput type="datetime-local" formControlName="start">
		</mat-form-field>
		<br>
		<mat-form-field class="field" appearance="fill">
			<mat-label>Finish</mat-label>
			<input matInput type="datetime-local" formControlName="finish">
		</mat-form-field>
		<br>
		<button mat-button type="submit" [disabled]="!itemAddForm.valid">Submit</button>
	</form>
  </div>

  <div *ngIf="index!=null" class="mat-elevation-z8 container">
	<mat-table [dataSource]="dataS">
  
	  <ng-container matColumnDef="bidder">
		<mat-header-cell *matHeaderCellDef> Bidder </mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element.bidder}} </mat-cell>
	  </ng-container>
  
	  <ng-container matColumnDef="price">
		<mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
	  </ng-container>

	  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

	</mat-table>

	<mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>

</div>
	
</div>